<html>
<head>
 <link href='http://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href= "/sheet2.css"/>
 <link rel="stylesheet" type="text/css" href= "/bootstrap/css/bootstrap.css"/>

    <title>What?</title>
</head>
<body>
<div class="title">
    <!-- <h1> <%= @city.capitalize %>? No... </h1> -->

  <h1>  <%= @message.capitalize %> </h1>

</div>

<div class="title2">
<h1>Come to Paris!</h1>
</div>
</body>
</html>