<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link href='http://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href= "bootstrap/css/bootstrap.css"/>
          <link rel="stylesheet" type="text/css" href= "sheet.css"/>

    <title>Hi</title>
</head>
<body>


 <div class="title">

<h1>What's your city? </h1>
<h1> <%= @message.capitalize %>? No... </h1>
</div>

</body>
</html>

